* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

:root {
    --primary: #78a1bb;
    --secondary: #bfa89e;
    --tertiary: #8b786d;
    --quaternary: #283044;
    --text: #d0fadd;
}

body {
    background-color: var(--primary);
    font-family: 'Dosis',
    serif;
}

/* Header w/ links to further sections */

header {
    padding: 1.5rem;
    margin: 1.5rem;
    border-bottom: 2px solid var(--tertiary);
}

nav {
    padding-top: 2rem;
    margin-right: 1rem;
    margin-top: 1rem;
    text-align: right;
    display: inline;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

a {
    color: var(--text);
    text-decoration: none;
    font-size: 2rem;
    margin-right: 2.5rem;
}

a:hover {
    cursor: pointer;
    text-shadow: 2px 2px 5px black;
}

/* Boxes linked in the navbar: bio, portfolio, contact */

.info-container {
    width: 50%;
    border-radius: 25px;
    border: 4px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    background-color: var(--tertiary);
}

.info-container p, h1, h2 {
    color: var(--text);
}

.info-container h1,
h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
}

.info-container hr {
    border: 2px solid black;
}

.info-container p {
    margin: 20px;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.2;
}

#self-portrait {
    width: 28%;
    height: 20%;
    border-radius: 120px;
    float: left;
    margin: 30px;
}

/* Portfolio images */

#big-project img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#big-project figcaption {
    text-align: center;
    color: var(--text);
    margin-bottom: 30px;
}


#small-image-container {
    display: block;
    margin: 0px;
    padding: 0px;
    position: relative;
    height: auto;
    max-width: auto;
    overflow-y: hidden;
    overflow-x: auto;
}

.small-images {
    display: inline;
    margin: 0px;
    padding: 0px;
    height: 83px;
    width: 83px;
    margin-left: 50px;
    margin-bottom: 9px;
}


/* hyperlinks in contact box */

.contact-links {
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.2;
    margin-right: 0;
    color: var(--quaternary)
}

@media screen and (max-width: 1094px) {
    .info-container p, .contact-links {
        text-align: right;
    }
}

@media screen and (max-width: 600px) {
    header {
        padding: 1.5rem;
        margin: 1.5rem;
    }
    a {
        font-size: 1.5rem;
        margin-right: 1.5rem;
    }
    .info-container {
        width: 60%;
        margin-top: 150px;
        margin-bottom: 150px;
    }
    .info-container h1, h2 {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 1.2rem;
    }
    .info-container p {
        margin: 15px;
    }
    .info-container p, .contact-links {
        font-size: 1.2rem;
        line-height: 1;
    }
}

@media screen and (max-width: 453px) {
    header {
        padding: 1rem;
        margin: 0.5rem;
    }

    a {
        font-size: 1rem;
        margin-right: 0.5rem;
    }

    .info-container {
        width: 70%;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .info-container h1,
    h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1rem;
    }

    .info-container p {
        margin: 10px;
    }

    .info-container p,
    .contact-links {
        font-size: 1rem;
    }
}


